{% spaceless %}

    <h1>Test 500 error</h1>

    <p>
        Exception source: {{ exception.code }}
        Exception message: {{ exception.message }}
    </p>

    <p>
        Internal server error of some sort...
    </p>

{% endspaceless %}

