{% spaceless %}

    <h1>Test 403 error</h1>

    <p>
        Exception source: {{ exception.code }}
        Exception message: {{ exception.message }}
    </p>

    <p>
        You do not have permission to access this page...
    </p>

{% endspaceless %}

