{% spaceless %}

    {% extends '@Twig/Exception/error_base.html.twig' %}

    {% block body %}
        <h1>Test generic error</h1>

        <p>
            Exception source: {{ exception.code }}
            Exception message: {{ exception.message }}
        </p>

        <p>
            Some generic error...
        </p>
    {% endblock %}

{% endspaceless %}
